html * {
  background-color: bisque;
}

.home-container {
  padding-left: 20px;
}

.title {
  align-items: center;
}

.new-file-button {
  height: 30px;
  width: 200px;
  font-size: 18px;
  background-color: rgb(146, 146, 230);
  border-radius: 15px;
}

.new-file-button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.file-button {
  height: 80px;
  width: 600px;
  border-radius: 15px;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
  font-family: serif;
}

.selected-file-button {
  height: 110px;
  width: 1000px;
  border-radius: 15px;
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
  font-family: serif;
}

.selected-button-container {
  padding-bottom: 20px;
}

.file-button:hover {
  cursor: pointer;
  background-color: rgb(63, 169, 40) !important;
  transform: scale(1.05);
}

.file-container {
  padding-bottom: 10px;
  padding-left: 20px;
}

.selected-file-container {
  padding-left: 20px;
  padding-bottom: 20px;
}

.note-form {
  padding-top: 10px;
}

.note-title {
  height: 30px;
  width: 300px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 10px;
}

.note-content {
  height: 300px;
  width: 800px;
  background-color: white;
  border-radius: 12px;
  vertical-align: top;
}

.submit-form {
  height: 30px;
  width: 70px;
  border-radius: 12px;
  background-color: white;
}

.submit-form:hover {
  cursor: pointer;
  background-color: rgb(63, 169, 40);
  transform: scale(1.05);
}

.note-header-button {
  height: 80px;
  width: 600px;
  border-radius: 15px;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
  font-family: serif;
  background-color: white;
}

.note-header-button:hover {
  cursor: pointer;
  background-color: rgb(63, 169, 40) !important;
  transform: scale(1.05);
}

.note-button-container {
  padding-top: 20px;
  padding-bottom: 10px;
}